@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);

body {
  /* Flex items*/
  display   : flex;
  justify-content: center;
  align-items: center;
  
  
  /* Generic items */
  height    : 100vh;
  margin    : 0;
  padding   : 0;
  overflow  : hidden;
  
  /* Background image */
  background: #fff;
  background-position: center;
  box-shadow: inset 0 0 200px -10px rgba(0,0,0,0.95);
}

#trackVideo {
  pointer-events: none;
  z-index: -999;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ccc;
  opacity:  0;
  width: 100%;
  height: 100%;
}
 
 positionIndicator{
  display: flex;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: #ccc;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  font-family: Cabin Sketch;
  font-size: 7pt
 }
  
sparkle-quadrants {
  pointer-events:none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  display: flex;
  flex-flow: column;
  flex: 1 1 100%;
  height: 100vh;
  width: 100vw;
}

sparkle-quadrants > * {
  display: flex;
  flex-flow: row;
  flex: 1 1 100%;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

sparkle-quadrants > *:first-child {
  border-bottom: 5px dotted rgba(0,0,0, 0.15);
}

sparkle-quadrants > * > * {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Cabin Sketch;
  font-size: 36pt;
  color: rgba(0,0,0,0.75);
}

sparkle-quadrants > * > * {
  border-left: 5px dotted rgba(0,0,0, 0.15);
}

wand-sparkle {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Cabin Sketch;
  color: #fff;
  font-size: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  opacity: 0.5;
}

@keyframes scaleIn {
    0% {
      transform: scale(3);
      background: rgba(255,0,255, 0.25) url("bower_components/e25JQKo/index.png");
      background-position: center;
      background-repeat: no-repeat;
    }
    100% {
      transform: scale(1);
      background: rgba(255,0,255, 0.05) url("bower_components/e25JQKo/index.png");
      background-position: center;
      background-repeat: no-repeat;
    }
}

@keyframes idle {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}

@keyframes scaleOut {
    0% {
      transform: scale(1);
      opacity: 0.75;
    }
    15% {
      transform: rotateZ(0deg) scale(3);
      opacity: 0.5;
    }
    100% {
      transform: rotateZ(360deg) scale(0);
      opacity: 0;
    }
}