body {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#renderer,
body {
  background-image: url("https://b133c2d2-a-2da3acbb-s-sites.googlegroups.com/a/student.austintrinity.org/code-ing/pics/background%20%20%281%29.gif?attachauth=ANoY7cqQpqGNIbK4sLBSokm0tUACqVEOuA39vBj01eB1OMBPPwECWpKMydoSvjMvoexgFz4hFCvtAAfZIc5uQHKXGYlFO9Id-zErVv6SS-bimQIW7brgoIQsiKugMVR905J6Q56uoFYh2GoX_Jq4fBNrNTHxSTzCi9uLpmB_gIdF_EWGIJXd2W8-7qzS-c0UtXppoU35fn7hqVq9Rjns4-yvWW6tBAFv5-7_mw4jpNegvAXkBs2CEh3sCVNQPS6UrlwCcn7U4GFX&attredirects=0");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#standing {
  z-index: 999;
  color: #000;
  padding: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0;
  background: #f6c;
}
#running2 {
  Visibility: hidden;
  z-index: 999;
  color: #000;
  padding: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0;
  background: #f6c;
}

#running1 {
  Visibility: hidden;
  z-index: 999;
  color: #000;
  padding: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0;
  background: #f6c;
}

#sliding {
  Visibility: hidden;
  z-index: 999;
  color: #000;
  padding: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0;
  background: #f6c;
}

#jumping {
  Visibility: hidden;
  z-index: 999;
  color: #000;
  padding: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0;
  background: #f6c;
}