@import url("https://fonts.googleapis.com/css?family=Poiret+One|Handlee|Cabin+Condensed");
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
  box-shadow: inset 0 -250px 350px -5px #000;
}
game-title {
  color: #333;
  font-size: 4em;
  font-family: 'Poiret One', cursive;
  text-shadow: 1px 1px 5px #000;
  cursor: default;
  padding: 20px 40px;
  border-bottom: 0px dashed rgba(255, 255, 255, 0);
  transition: all ease-out 0.25s;
}

.active {
  animation: rescale 15s ease infinite normal;
}

.underlined {
 color: #fff;
 margin-top: 10px;
 border-left: 2px solid rgba(255, 255, 255, 0.25);
 border-right: 2px solid rgba(255, 255, 255, 0.25);
 border-radius: 100px;
 background: rgba(0, 0, 0, 0.75);
}

game-website {
  color: #fff;
  font-size: 2em;
  font-family: 'Poiret One', cursive;
  text-shadow: 1px 1px 3px #000;
  cursor: pointer;
}
game-logo {
  border-radius: 100%;
  overflow:hidden;
  padding: 0;
  background: rgba(255, 255, 255, 0);
  transition: all ease-out 0.5s;
}
game-logo:hover {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 30px -15px #000, inset 0 0 10px -2px #fff, inset 0 -20px 60px -2px rgba(255, 255, 255, 0.15);
  border: 5px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 40px;
  opacity: 0;
}

game-logo > img {
  border-radius: 100%;
  border: 5px solid #fff;
  transition: all ease-out 0.5s;
}

game-logo > img:hover {
 transform: scale(1.5) rotate(270deg);
 border-radius: 100%;
 cursor: pointer;
 box-shadow: none;
 opacity: 0;
 border: 3px solid rgba(255, 255, 255, 0.95);
}

game-video {
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -99;
  opacity: 1;
}

game-selection {
  display: none;
  flex: 1 1 auto;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  width: 70%;
}

game-selection trinity-game {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  align-items: stretch;
}
game-selection game-name {
  color: #fff;
  font-size: 4em;
  font-family: 'Poiret One', cursive;
  text-shadow: 1px 1px 3px #000;
  padding: 50px;
}

game-selection game-preview {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  flex: 1 1 auto;
  margin-bottom: 50px;
  overflow:hidden;
  cursor: pointer;
  transition: all ease-out 0.5s;
}

game-selection game-preview:hover {
  transform: scale(1.05) translateY(-25px);
}
game-selection game-preview > video {
  flex: 1 1 auto;
  height: 100%;
  transition: all ease-out 0.5s;
}

game-selection game-credits {
  pointer-events: none;
  z-index: 999;
  position: absolute;
  bottom: 20%;
  right: 0;
  padding: 50px;
  border-radius: 50px 0 0 50px;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  flex: 1 1 auto;
  transition: all ease-out 0.5s;
  color: #fff;
  font-size: 2em;
  font-family: Handlee;
  text-shadow: 1px 1px 3px #000;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 80px 5px 150px -20px rgba(0, 0, 0, 1);
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  border-right: none;
}

choose-game-button {
  z-index: 9999;
  position: absolute;
  top: 15px;
  color: #fff;
  padding: 20px;
  font-size: 50pt;
  cursor: pointer;
  transition: all 0.15s ease-out;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  user-select: none;
}

choose-game-button:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.5);
}
choose-game-button.previous {
  left: 15px;
}

choose-game-button.next {
  right: 15px;
}

@keyframes rescale {
  0% {transform: scale(1)}
  10% {transform: scale(1.2)}
  20% {transform: scale(1.4)}
  30% {transform: scale(1.6)}
  40% {transform: scale(1.4)}
  50% {transform: scale(1.2)}
  60% {transform: scale(1.4)}
  70% {transform: scale(1.6)}
  80% {transform: scale(1.4)}
  90% {transform: scale(1.2)}
  100% {transform: scale(1)}
}