<!-- Splash Screen-->
<div id="splash">
  <div id="title">BALOON BOY</div>
  <div id="subTitle">The Idea</div>
</div>
<!-- Scene options-->
<div id="options"> 
  <div id="title">Options</div>
  <input placeholder="balloon image link"/>
</div>
<!-- Debug-->
<div id="debug"></div>