<head>

</head>
<body>
  <div class="txt+img">
    <!--this is the story-->
    <h1>Avery, Faith, Adam, papa franku
Story: A creature named Aluma has taken control of Whysica and you must help stop him(work in progress)
Standing: blob:https%3A//mail.google.com/59870e2d-69a8-4266-911a-ff990353ca97
Sign:
Notes: Wants to puts all characters so far into a level and they try to reach the end of the level, at the end there is a flag or goal</h1>
    <!--this is whysica-standing-->
    <img src="blob:https%3A//mail.google.com/59870e2d-69a8-4266-911a-ff990353ca97">
  </div>
</body>