body{
	background: #000;
}

#divider{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	border: solid;
	width: 45vw;
	flex-direction: row;
	flex-wrap: nowrap;
	background: #ccc;
}

#divider2{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
	border: solid;
	width: 45vw;
	flex-direction: row;
	flex-wrap: nowrap;
	background: #ccc;
}

.div1{
	float: right;
}
.div2{
	float: left;
}

#playerInput{
	width: 45vw;
	height: 5vw;
	background: #e6e6e6;
}

.input1{
	float: left;
}

.input2{
	float: right;
}

#title1{
	color: #003b6f;
	text-align: left;
	margin: 0;
}

#title2{
	color: #003b6f;
	text-align: right;
	margin: 0;
}

#titles{
	display: flex;
}

#title1, #title2{
	flex: 1;
}