body {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#trackVideo {
  pointer-events: none;
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ccc;
  opacity: 0;
  width: 100%;
  height: 100%;
}
#renderer {
  background: #cff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/160215/background.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
}
#stats {
  z-index: 999;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px;
  background: rgba(255,255,255,0.7);
  border-radius: 5px;
  box-shadow: 0 3px 5px -3px #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
}
#stats #fps {
  background: transparent !important;
}
#stats #fps #fpsText,
#stats #fps #fpsGraph {
  color: #000 !important;
}
#stats #fps #fpsGraph {
  border-radius: 0 0 3px 3px;
  border-bottom: 1px solid #777;
}
