body {
  background-color: #f96;
}

.title {
  position: relative;
  top: 25vh;
  text-align: center;
}

#lavarun {
  font-family: 'Bangers', cursive;
  font-size: 15vh;
  text-shadow: 2vh 0.5vh #fff;
}
