/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600italic);

/*Styling*/
body {
	position: absolute;
	display: flex;
	height: 100%;
	width: 100%;
	background: #eaeab4;
	text-align: center;
	flex-flow: column;
	font-family: 'Josefin Sans', sans-serif;
	user-select: none;
	-webkit-user-select: none;
}
