.nav a {
    color: #36454f;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.jumbotron {
    background-image:url( "#" );
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top: 100px;
}

.jumbotron h1 {
    color: #36454f;
    font-size: 48px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #36454f;
}

.learn-more {
    background-color: #fff;
}

.learn-more a {
    color: #36454f;
}

.Live {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.Live h2 {
    color: #36454f;
    font-size: 24px;
}

.Live p {
    font-size: 15px;
    margin-bottom: 13px;
}