body {
  background: yellow;
}

div {
  text-align: center;
  color: #fff;
  font-size: 40px;

}

img {
  position: relative;
  position: absolute;
  height: 400px;
  width: 1000px;
  top: 50px;
  left: 100px;
}

#one {
    animation: spin1 5s linear infinite;
}
#two {
    animation: spin2 5s linear infinite;
}

@keyframes spin1 {
    from {transform:rotate(0deg); left: 0;}
    to {transform:rotate(360deg); left: 300;}

}

@keyframes spin2 {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}